[user]
    name = Guido Arnau
    email = guido.arnau@gmail.com

[core]
    editor = nvim
    whitespace=-indent-with-non-tab,trailing-space,tabwidth=4

[alias]
    g = grep --break --heading --line-number

[color]
    ui = true

[filter "tabspace"]
    smudge = unexpand --tabs=4 --first-only
    clean = expand --tabs=4 --initial

[color "diff"]
    whitespace = red reverse

[color "grep"]
    linenumber = yellow bold
    match = red
    filename = magenta

[diff]
    tool = nvim -d
    indentHeuristic = true

[commit]
    verbose = true

[push]
    default = current

[grep]
    linenumber = true
    extendRegexp = true

[protocol]
    version = 2
