[submodule ".vim/plugged/simplenote.vim"]
	path = .vim/plugged/simplenote.vim
	url = git@github.com:mrtazz/simplenote.vim.git
[submodule ".vim/plugged/vim-trailing-whitespace"]
	path = .vim/plugged/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule ".vim/plugged/delimitMate"]
	path = .vim/plugged/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule ".vim/plugged/vim-argwrap"]
	path = .vim/plugged/vim-argwrap
	url = git@github.com:FooSoft/vim-argwrap.git
[submodule ".vim/plugged/ctrlp.vim"]
	path = .vim/plugged/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
