[submodule ".config/nvim/bundle/vim-colors-solarized"]
	path = .config/nvim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".config/nvim/bundle/vim-trailing-whitespace"]
	path = .config/nvim/bundle/vim-trailing-whitespace
	url = git@github.com:bronson/vim-trailing-whitespace.git
[submodule ".config/nvim/bundle/delimitMate"]
	path = .config/nvim/bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
